<section class="navbar">
  <img src="assets/Logo/main-logo.png" routerLink="home" class="logo-image" />
  <shared-button-component buttonClass="no-bg-secondary-color-no-border medium nav-link"
    >CNC Machining Services
  </shared-button-component>
  <shared-button-component buttonClass="no-bg-secondary-color-no-border medium nav-link"
    >Cold Forging Services</shared-button-component
  >
  <shared-button-component buttonClass="no-bg-secondary-color-no-border medium nav-link"
    >Industrial Component Manufacturing</shared-button-component
  >
  <shared-button-component buttonClass="no-bg-secondary-color-no-border medium nav-link"
    >About Us</shared-button-component
  >
  <shared-button-component buttonClass="no-bg-secondary-color-no-border medium nav-link"
    >Contact Us</shared-button-component
  >
  <shared-button-component
    buttonClass="primary-bg-tertiary-color-no-border medium nav-link"
    [addIcon]="true"
    iconClass="fa-solid fa-arrow-right"
    >Request a Quote</shared-button-component
  >
</section>
