.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.connect-banner {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--tertiary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 1rem;
}

.connect-content {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.horizontal-line {
  flex: 0 0 3rem;
  height: 2px;
  background-color: var(--metallic-color);
}

.banner-text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.banner-main-line {
  white-space: nowrap;
}

.meta-data-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: var(--secondary-color);
  color: var(--tertiary-color);
  padding: 1rem;
}

.data-section {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
}

.logo-image {
  width: 15%;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
}

.vertical-divider {
  width: 2px;
  align-self: stretch;
  background-color: var(--metallic-color);
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.contact-card {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.social-media-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.horizontal-divider {
  align-self: stretch;
  height: 2px;
  background-color: var(--metallic-color);
}
