<section class="footer">
  <div class="connect-banner">
    <span class="connect-content">
      <div class="horizontal-line"></div>
      <span class="banner-text">
        <label class="card-title banner-main-line"
          >Need a Reliable Manufacturing Partner in Faridabad?</label
        >
        <label class="body-small"
          >Let's discuss requirements and build something great together.</label
        >
      </span>
    </span>
    <shared-button-component
      buttonClass="tertiary-bg-primary-color-no-border medium"
      [addIcon]="true"
      iconClass="fa-solid fa-arrow-right"
      >Talk to Our Team</shared-button-component
    >
  </div>
  <div class="meta-data-section">
    <div class="data-section">
      <img src="assets/Logo/main-logo.png" alt="Company Logo" class="logo-image" />
      <label class="small-helper-text">CNC Machining Services</label>
      <label class="small-helper-text">Cold Forging Services</label>
      <label class="small-helper-text">Industrial Component Manufacturing</label>
      <label class="small-helper-text">About Us</label>
      <label class="small-helper-text">Contact Us</label>
      <div class="vertical-divider"></div>
      <div class="contact-info-container">
        <span class="contact-card">
          <i class="fa-solid fa-phone"></i>
          <label class="small-helper-text">9818878696</label>
        </span>
        <span class="contact-card">
          <i class="fa-solid fa-envelope"></i>
          <label class="small-helper-text">info@sdforgmac.com</label>
        </span>
        <span class="contact-card">
          <i class="fa-solid fa-location-dot"></i>
          <label class="small-helper-text">Faridabad, Haryana, India</label>
        </span>
      </div>
      <div class="social-media-container">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin-in"></i>
      </div>
    </div>
    <div class="horizontal-divider"></div>
    <div>
      <label>&copy; 2024 SD Forgemac. All rights reserved.</label>
    </div>
  </div>
</section>
