.process-section {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: color-mix(var(--secondary-color) 20%, var(--tertiary-color) 80%);
}

shared-section-header-component {
  max-width: 30%;
}

.process-section i {
  color: var(--metallic-color);
  font-size: 2rem;
}

.info-card {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  max-width: 15%;
}

.index {
  padding: 0.5rem;
  aspect-ratio: 2 / 1;
  background-color: var(--metallic-color);
  border-radius: 50%;
  color: var(--tertiary-color);
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: flex-start;
  min-width: 0;
}

.card-body i {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--secondary-color) !important;
}

@media (max-width: 900px) {
  .process-section {
    display: flex;
    flex-direction: column;
    padding: 2.5rem 2rem;
  }

  .process-section > shared-section-header-component {
    grid-column: 1 / -1;
  }

  .process-section > .fa-angle-right {
    display: none;
  }
}

@media (max-width: 500px) {
  .process-section {
    grid-template-columns: 1fr;
    padding: 2.5rem 1.25rem;
    gap: 1.5rem;
  }

  .process-section > .info-card {
    width: 100%;
  }
}
